name: Lint

on:
  workflow_call:

env:
  PYTHON_VERSION: 3.10.8

jobs:
  flake8:
    name: Python - Flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{env.PYTHON_VERSION}}

      - name: Install poetry
        run: |
          pip3 install --upgrade poetry
          poetry config virtualenvs.in-project true

      - name: Load Cached Virtualenv
        id: cache
        uses: actions/cache@v2.1.3
        with:
          path: .venv
          key: venv-${{ env.PYTHON_VERSION }}-${{ runner.os }}-${{ hashFiles('**/pyproject.toml', '**/poetry.lock') }}

      - name: Install dependencies and project in dev mode
        if: steps.cache.outputs.cache-hit != 'true'
        run: make install

      - name:
        run: make lint
